@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.background {
    width: 100%;
    height: 100%;
    position:absolute;
    background-color: #fce9ea;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #dd2b3b;
    position: absolute;
}

@-webkit-keyframes 반짝 {
    0% { opacity: 0%; }
    70% { opacity: 100%; }
    100% { opacity: 0%; }
}

.circle2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #dd2b3b;
    position: absolute;
    animation-name: 반짝;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.이공이공 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Gugi', cursive;
    font-size: 170%; 
    color: white;
    position: absolute;
    left: 3.78%;
    top: 13%;
    transform: rotate(9deg);
}

.올해 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Gugi', cursive;
    font-size: 170%; 
    color: white;
    position: absolute;
    left: 41.3%;
    top: 9%;
    transform: rotate(13deg);
}

.크리스마스는 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Gugi', cursive;
    font-size: 170%; 
    color: white;
    position: absolute;
    left: 66.2%;
    top: 18%;
    transform: rotate(12deg);
}

.모두를 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Gugi', cursive;
    font-size: 170%; 
    color: white;
    position: absolute;
    left: 75.7%;
    top: 9%;
    transform: rotate(7deg);
}

.위하여 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Gugi', cursive;
    font-size: 170%; 
    color: white;
    position: absolute;
    left: 17%;
    top: 64%;
    transform: rotate(12deg);
}

.랜선으로 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Gugi', cursive;
    font-size: 170%; 
    color: white;
    position: absolute;
    left: 26.3%;
    top: 48%;
    transform: rotate(8deg);
}

.안전하게 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Gugi', cursive;
    font-size: 170%; 
    color: white;
    position: absolute;
    left: 60.88%;
    top: 55%;
    transform: rotate(12deg);
}

.즐겨요 {
    font-family: 'Gugi', cursive;
    font-size: 170%; 
    color: white;
    position: absolute;
    left: 73.5%;
    top: 89.5%;
}

.클릭 {
    font-family: 'Gugi', cursive;
    font-size: 170%; 
    color: white;
    position: absolute;
    left: 89.5%;
    top: 42%;
}























